//- extends layout

//- block content
//-     div(class="header")
//-         h1 login
//-     form(action='/login', method="post" ng-submit="login()" class="form")
//-         input(type="text", placeholder="firstName" ng-model="firstname")
//-         input(type="text", placeholder="lastName" ng-model="lastname")
//-         input(type="text", placeholder="password" ng-model="password")
//-         button login